.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
JacquesValleePassporttoMagonia.pdf
Jacques Vallee, Chris Aubeck Wonders in the Sky Unexplained Aerial Objects from Antiquity to Modern Times.pdf

extract/.env
.env
/tmp/

